# General configuration
NODE_ENV=
FRONTEND_URL=

# Database configuration
DATABASE_URL=
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Security and Authentication
JWT_SECRET=
AUTHORIZED_IPS=
DEV_USER_PASSWORD=
