.thumbnail {
  width: 160px;
  height: 160px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;

  &_image {
    width: 160px;
    height: 160px;
  }
}
